@font-face {
  font-family: "Objective";
  font-weight: 400;
  src: url(../assets/fonts/Objective-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Objective";
  font-weight: 500;
  src: url(../assets/fonts/Objective-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Objective";
  font-weight: 700;
  src: url(../assets/fonts/Objective-Bold.woff2) format("woff2");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Objective", "Arial";
  background-color: #e9e1ff;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 7px 5px 0px rgb(214, 214, 214);
}
.header-container h1 {
  font-size: 18px;
  color: #2c2c2c;
}
@media (min-width: 450px) {
  .header-container h1 {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  .header-container h1 {
    font-size: 24px;
  }
}